# Copie os valores desejados aqui. Estas são as configurações padrão caso o arquivo não seja preenchido.
# BASE_URL=
# SHOW_ID=
# TOKEN=
# FEED_CODE=
# DATE=2026-06-17
# HEADEND=2
# TAKE_NEXT_ACTION_NAME=take_next
# DELAY=0.0
